.day{
    margin: 1rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.complete label{
    color: springgreen;
}

.incomplete label{
    color: crimson;
}
.defaultBtn{
    background-color: darkorange;
}

.editBtn{
    background-color: coral;
}

.deleteBtn{
    background-color: crimson;
}

.save{
    background-color: springgreen;
}

.cancel{
    background-color: red;
}

.info{
    margin-top: 0.5rem;
    max-width: 250px;
    background-color: wheat;
}

.info p{
   word-wrap: break-word;
}