.day{
    margin: 1rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.complete label{
    color: springgreen;
}

.incomplete label{
    color: crimson;
}
.defaultBtn{
    background-color: darkorange;
}

.editBtn{
    background-color: coral;
}

.deleteBtn{
    background-color: crimson;
}

.info{
    margin-top: 0.5rem;
    border: 1px solid rebeccapurple;
    max-width: 250px;
}

.info p{
   word-wrap: break-word;
}