div{
    color: white;
    text-align: center;
}

.scroll{
    overflow-y: scroll;
}

.form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem; 
}

.form button{
    margin: 1rem;
}

.form label{
    margin: 0.5rem;
}

.task{
    display: flex;
    align-items: center;
}

.btn{
    background-color: chartreuse;
}

.ul{
    list-style: none;
}

.ul li{
    color: white;
}