.layout{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    &__title{
        margin: 0;
        font-size: 48px;
        font-weight: 400;
        color: black;
    }
}