.card{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: 500px;
    padding: 1rem;
    margin: 1rem;
}
.card h2{
    color: #212121;
}
.card img{
    max-width: 300px;
    max-height: 500px;
}