.prompt{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top:10;
    padding: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    button{
        margin: 1rem;
        padding: 0.75rem;
        background-color: royalblue;
    }
}