.btn{
    background-color: rgb(187, 108, 12);
    border-radius: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: darkgreen;
}