.card{
    background-color: #303030;
    color:white;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    height: 21rem;
    width: 19.25rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    .title{
        h3{
            font-size: 2.25rem;
            font-weight: bold;
        }
    }
    .date{
        h2{
            font-size: 1.25rem;
            font-weight: bold;

        }
    }
    .amount{
        h2{
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
    .btn{
        img{
            transition: 0.5s;
            margin-top: 0.5rem;
            &:hover{
                filter: contrast(200%);
            }
        }
    }
}