@import "~bootstrap/scss/bootstrap";

.navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        margin: 1rem;
        padding: 0.5rem 1rem;
    }
    h1{
        color: white;
        margin: 1rem;
    }
}