.taskList{
  display: flex;
  justify-content: start;
  align-items: center;
}

.task{
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: white;
}

.task label{
    font-weight: bold;
    font-size: larger;
    margin: 0.25rem;
    margin-left: 0.6rem;
}

.input{
    accent-color: springgreen;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.checkBox{
  border: 1px solid red;
}
