.footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
        margin: auto;
    }

    & hr {
        margin: 30px auto;
        width: 70vw;
        color: white;
    }

    & .redirect__list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 30px;

        & li {
            font-size: 64px;
        }
    }

    & .copyright {
        font-size: 24px !important;
    }
}