@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

@import 'header';
@import 'footer';

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;
    font-family: "Poppins", sans-serif;
    background: #0C0C0C;
    color: white;
}

a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}
